.background-img {
  background-image: url(../../../images/bg-freeResource.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* shadow style  */
/* .shadow {
  box-shadow: 0px 0px 20px -5px #000000;
} */

/* title style  */
.one h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #0b8ef2;
}
.one h1:after {
  width: 100px;
  height: 2px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #0b8ef2;
}
