.page-banner {
  background-image: linear-gradient(
    90deg,
    rgba(88, 86, 233, 0.11) 0%,
    rgba(0, 208, 156, 0.146) 100%
  );
  height: 110vh;
}

.m {
  display: block;
  padding: 0 20px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-radius: 0;
  line-height: 45px;
  margin: 0;
  color: #1b3255;
}
