.experienceWrap {
  background-image: url(../../../../images/map.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50%;
}

.letsWork::after,
.titleBg::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  background: url(../../../../images/border-2.png) no-repeat bottom;
  background-size: 100% 100%;
  z-index: -1;
  background-position: bottom;
  top: auto;
  bottom: 0;
  height: 100%;
  background-size: 100% 100%;
}

.fill-text {
  line-height: 1;
  letter-spacing: -0.03em;
  margin: 0 auto;
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.experienceImg {
  background-image: url(../../../../images/img-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title {
  display: inline-block;
  font-size: 20px;
  padding: 15px 30px;
  z-index: 1;
  margin-bottom: 20px;
}
