.side-bar ul li:hover .sidebar-link {
  color: #5956e9;
  transition: all 0.1s;
}

.sidebar-link {
  font-size: 14px;
  font-weight: 500;
}

.code-test {
  border-right: 1px solid black;
}

.test {
  color: rgb(41, 46, 51);
}

/* button style  */
.btn {
  margin-top: 6px;
  color: rgb(255, 255, 255);
  padding: 7px;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(6, 117, 206);
  border: 1px solid rgb(6, 117, 206);
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
  }
}

.profile-form-border {
  border: 1px solid rgb(224, 224, 224);
}

.section-hover:hover {
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 14px 0px;
  transition: all 0.2s;
}

/* form:hover .general {
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 14px 0px;
} */

.active {
  background-color: #c4c3c3;
}
