.side-bar ul li:hover .sidebar-link {
  color: #5956e9;
  transition: all 0.1s;
}

.sidebar-link {
  font-size: 14px;
  font-weight: 500;
}

.code-test {
  border-right: 1px solid black;
}

.test {
  color: rgb(41, 46, 51);
}

.profile-form-border {
  border: 1px solid rgb(224, 224, 224);
}

.label {
  /* color: rgb(79, 79, 79); */
  font-weight: 400;
  font-size: 14px;
}
