.my-container {
    max-width: 1536px;
    /* max-width: 1280px; */
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.my-border-bottom {
    border-bottom: 1px solid rgba(25, 25, 25, .1);

}

.menu :where(li:not(.menu-title):not(:empty))> :where(*:not(ul):focus),
.menu :where(li:not(.menu-title):not(:empty))> :where(*:not(ul):hover) {
    color: #5956e9;
    background-color: transparent;
}