.section-tittle::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  background: url(../../../images/border-1.png) no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  background-position: bottom;
  top: auto;
  bottom: 0;
  height: 100%;
}

.section-tittle {
  font-size: 24px;
  padding: 17px 35px;
  z-index: 1;
  margin-bottom: 25px;
}

.about-img {
  border-radius: 250px;
}
