@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blue-dark {
  background-color: #5956e9;
}

.color-blue-dark {
  color: #5956e9;
}

.para-color {
  color: #808285;
}

.heading-color {
  color: #191919;
}

.btn-primary-vlue {
  background: #5956e9;
  color: #fff;
  padding: 16px 35px;
  border-radius: 5px;
  font-weight: 500;
}

.btn-primary-vlue:focus {
  outline: none;
}
.btn-primary-vlue:hover {
  background-color: #191919;
  color: #fff;
  transition: all 0.2s;
}

.profile-form-border {
  border: 1px solid rgb(224, 224, 224);
}
