/* google fonts poppins ( font-family: 'Poppins', sans-serif; ) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1280px;
  margin: auto;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.bg-blue-dark {
  background-color: #5956e9;
}

.color-blue-dark {
  color: #5956e9;
}

.para-color {
  color: #808285;
}

.heading-color {
  color: #191919;
}

.btn-primary-vlue {
  background: #5956e9;
  color: #fff;
  padding: 16px 35px;
  border-radius: 5px;
  font-weight: 500;
}

.btn-primary-vlue:focus {
  outline: none;
}
.profile-form-border {
  border: 1px solid rgb(224, 224, 224);
}
